@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PattayaRegular";
  src: url("../fonts/Pattaya-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo2-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo2-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo2-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bungee";
  src: url("../fonts/Bungee-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}