@mixin expand-background-image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
@mixin flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-row-center-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
@mixin flex-column-center-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin smallPhone {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {
    @content;
  }
  @media only screen and (min-device-width: 250px) and (max-device-width: 300px) and (orientation: portrait) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-device-width: 768px) and (max-device-width: 2024px) and (orientation: portrait) {
    @content;
  }
}
@mixin pc {
  @media only screen and (min-width : 960px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width : 960px) {
    @content;
  }
}