@import "font";
@import "colors";
@import "mixins";
@import "themes";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SFProDisplay";
  color: $primary-blue-grey;
  font-size: toRem(14);
  line-height: 1.43;
}

html,
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //-----fix bug scrolling ios-----
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
}
body {
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('bg-color');
  }
}
button {
  border: 0;
  outline: none;
  background-color: transparent;
  &:active {
    transform: translateY(2px);
  }
}

span,
p,
li,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

#root {
  min-height: 100vh;
  overflow: auto;
  height: 100%;
  width: 100vw;
}

.text-bold {
  font-weight: bold;
}
